/* Font Family */

@font-face{
    font-family: "Quicksand";
    src: url(../Fonts/Quicksand-Regular.ttf) format('truetype');
}


*{
    font-family: "Quicksand", serif;
    box-sizing: border-box;
}

a{

    text-decoration:inherit;
    color: inherit;
}

p{
    font-size: 1.2em;
}

body{
    margin:0 0;
    background-color: #add8e6;
    text-align: center;
    

}

h1{
    color: white;
    margin-top: 5%;
    font-size: 3.5em;

}

h2{
    text-transform: uppercase;
    margin: 0 0;
    font-size: 1.5em;
}

ul{

    padding:0;
}

nav{
    text-align: center;
    margin: 0 0.5em;
}

nav li{
    padding: 0.5em;
    margin: 00.4em;
    display: block;
    background-color: white;
    font-size: 1.3em;
    text-transform: uppercase;
    
}

nav li:hover{
    
    background-color:lightblue;
    color: white;
    border: 1px white solid;
}

li{
    list-style-type: none;
}


.portfolio{
    text-align: center;
    background: white;
    padding: 2em 2em;
    width: 100%;
    
}

img{

    max-width: 300px;
}

.me{
    border-radius: 50%;
    height: 250px;
    border: white 2px solid;
    

}

.about{
    background-color: lightblue
}

.bold{

    font-weight: bold;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }


.intro{
    padding: 1em;

}  

.item{
    padding: 1.5em ;
    
}

.section{
    /* padding-top: 2em; */
    
    margin-top: 0em;
}
.about_me{

    padding: 0em 1em;

}

.breaker{
    
    margin: 0 auto;
    width: 85%;
    border: solid 1px  #8ac7db;
    background-color: transparent;
    
}

.location{
    padding: 2em 1.5em;
    background-color: #fafafa;

}

.Contact{
    padding: 2em 0;
}

.map{
    padding: 1em;
}